footer {
  padding: 70px 0;
  color: var(--grayish);
  background: var(--violet);
}

.footer {
  margin: 0 150px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  height: 35px;
  margin-right: 150px;
}

.containner__footer {
  margin: 10px;
}

.containner__footer img {
  margin-left: 20px;
}

.containner__footer h4 {
  margin-bottom: 15px;
  color: var(--white);
}

.attribution {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  font-size: .7em;

  position: fixed;
  text-align: center;
  color: var(--grayish);
  background: var(--white);
}

.attribution a {
  color: var(--dark);
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 0 50px;
  }
}
