<footer>
    <div class="footer">
        <img [src]="logo" alt="Logo" class="footer__logo" />

        <section class="containner__footer">
            <h4>Features</h4>

            <p>Link Shortening</p>
            <p>Branded Links</p>
            <p>Analytics</p>
        </section>

        <section class="containner__footer">
            <h4>Resources</h4>

            <p>Blog</p>
            <p>Developers</p>
            <p>Support</p>
        </section>

        <section class="containner__footer">
            <h4>Company</h4>

            <p>About</p>
            <p>Our Team</p>
            <p>Careers</p>
            <p>Contact</p>
        </section>

        <figure class="containner__footer">
            <img [src]="facebook" alt="Facebook" />
            <img [src]="twitter" alt="Twitter" />
            <img [src]="pinterest" alt="Pinterest" />
            <img [src]="instagram" alt="Instagram" />
        </figure>
    </div>
</footer>

<div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/yuriaguiar-86" target="_blank">Yuri Aguiar</a>.
</div>
