<header>
    <div class="header">
        <nav class="header__options">
            <img [src]="logo" alt="Logo" />
            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </nav>

        <nav class="header__access">
            <ul>
                <li><a href="#">Login</a></li>
                <li class="access__add"><a href="#">Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>
