.main__about {
    margin-bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__text {
    width: 550px;
}

.about__text h1 {
    color: var(--dark);
    font-size: 4em;
    line-height: 80px;
}

.about__text p {
    font-size: 1em;
    color: var(--gray);
    margin-bottom: 30px;
}

.about__text a {
    padding: 10px 20px;
    border-radius: 25px;

    color: var(--white);
    background: var(--cyan);
}

.main__about img {
    width: 600px;
}

@media screen and (max-width: 1200px) {
  .main__about img {
    display: none;
  }
}
