.containner__search {
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  color: var(--white);
  justify-content: center;
}

input,
button {
  font-size: 1em;
  padding: 20px;
  border-radius: 10px;

  outline: none;
}

input {
  width: 100%;
  border: 1px solid var(--dark);
}

button {
  min-width: 150px;
  font-weight: 700;
  margin-left: 10px;

  border: none;
  cursor: pointer;
  color: var(--white);
  background: var(--cyan);
}

.containner__shorten {
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  border: 1px solid var(--gray);
  align-items: center;
  justify-content: space-between;
}

.short {
  display: flex;
  align-items: center;
}

.original {
  color: var(--blue);
}

.short {
  color: var(--cyan);
}

.short button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 10px;

  border: none;
  cursor: pointer;
  color: var(--white);
  background: var(--cyan);
}

.actived {
  background: var(--dark) !important;
}

span {
  color: var(--red);
  padding: 5px 20px;
}

@media screen and (max-width: 600px) {
  .search {
    flex-direction: column;
  }

  button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}
